
  <div class="form-group nav">
<input type="search"  class="form-control" placeholder="Buscar anime" ng-change="schanged()" ng-model="buscar.termino" autofocus>
  </div>




<div class="container-fluid">
<h1>Resultados de: {{buscar.termino}}</h1>
<adsense ad-client="ca-pub-6758947463921917" ad-slot="5412497381" inline-style="display:inline-block;width:450px;height:90px" ad-format="auto"></adsense>
  <div class="row">
	<div class="col-md-3 image" ng-repeat="item in elementos">
		<a class="link" href="#{{item.anime_url}}" ><img ng-src="{{item.img}}" class="img-responsive img-thumbnail"/>
		<p> <span>{{normalizar(item.anime_title)}}</span></p>
</a>
	</div>
  </div>
  <adsense ad-client="ca-pub-6758947463921917" ad-slot="5412497381" inline-style="display:inline-block;width:450px;height:90px" ad-format="auto"></adsense>
</div>
