




<div class="container-fluid">
<h1>Generos</h1>
<adsense ad-client="ca-pub-6758947463921917" ad-slot="5412497381" inline-style="display:inline-block;width:450px;height:90px" ad-format="auto"></adsense>
  <div class="row">
	<div class="col-md-3" ng-repeat="item in generos" style="padding: 10px;">
		<a class="btn btn-danger btn-lg btn-block" href="#/generos/{{item.link}}/1" >
<!--<img ng-src="{{item.img}}" class="img-responsive img-thumbnail"/> -->
		<p> <span>{{normalizar(item.name)}}</span></p>
</a>
	</div>
  </div>
  <adsense ad-client="ca-pub-6758947463921917" ad-slot="5412497381" inline-style="display:inline-block;width:450px;height:90px" ad-format="auto"></adsense>
</div>
