
<div class="container-fluid">
  <adsense ad-client="ca-pub-6758947463921917" ad-slot="5412497381" inline-style="display:inline-block;width:450px;height:90px" ad-format="auto"></adsense>
<h1>Capitulos populares</h1>
  <div class="row">
	<div class="col-md-3 image" ng-repeat="item in populares">
		<a class="link" href="#{{item.episode_url}}" ><img ng-src="{{item.img}}" class="pre-load img-responsive img-thumbnail"/>
		<p> <span>{{normalizar(item.anime_title)}} - {{normalizar(item.episode_title)}}</span></p>
</a>
	</div>
  </div>
  <adsense ad-client="ca-pub-6758947463921917" ad-slot="5412497381" inline-style="display:inline-block;width:450px;height:90px" ad-format="auto"></adsense>
</div>
