
<div class="container-fluid">
<a class="btn btn-primary btn-lg" href="javascript:window.history.back();"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Atras</a>
  <div class="row">
	<div class="col-md-8 col-md-offset-2">
		<jwplayer ng-src="{{ file }}"
			  player-options="options"
			  player-id="myPlayer1">
		</jwplayer>

	</div>
  </div>

<div class="row">
    <div class="col-md-6 col-md-offset-2">
<nav aria-label="Calidades">
  <ul class="pagination  pagination-sm">

    <li class="active"  ng-repeat="video in episodio.videos">
	<span class="btn"  ng-click="onSelected(video)">{{video.name}}</span></a>
    </li>
  </ul>
</nav>
<adsense ad-client="ca-pub-6758947463921917" ad-slot="5412497381" inline-style="display:inline-block;width:450px;height:90px" ad-format="auto"></adsense>
<!-- Your like button code -->
	<div class="fb-like"
		data-href="http://animegt.net/"
		data-layout="standard"
		data-action="like"
		data-show-faces="true">
	</div>


<div class="fb-comments" data-href="{{url}}" data-numposts="10"></div>

    </div>
</div>

</div>
